<!-- Header -->
<header class="custom-header d-flex justify-content-between align-items-center px-5 py-3">
  <div class="d-flex align-items-center gap-3">
    <img src="assets/icon.png" alt="Logo" class="logo-icon" />
    <h2 class="brand-title mb-0">Acciones ElBosque</h2>
  </div>
  <div class="d-flex gap-3">
    <a routerLink="/login" class="btn btn-light header-btn">Iniciar sesión</a>
    <a routerLink="/registro" class="btn btn-success header-btn">Registrarse</a>
  </div>
</header>

<!-- Contenido principal -->
<div class="container-fluid pt-3 px-5 content">

  <!-- Sección principal: título + línea -->
  <div class="row hero-section position-relative">
    <div class="col-lg-6 text-start">
      <h1 class="title-hero">
        COMIENZA A INVERTIR<br />
        EN ELBOSQUE <br />
        <span class="title-highlight">AHORA</span>
      </h1>
  </div>
   <!-- Línea flotante posicionada manualmente -->
   <img src="assets/line.png" alt="Crecimiento" class="line-absolute" />
  </div>

  <p class="text-floating">
    Invierte con confianza: opera en mercados globales y toma decisiones respaldadas por expertos del mercado bursátil
  </p>

  <!-- Sección hombre + texto a la izquierda -->
  <!-- Imagen del hombre fija en la esquina inferior derecha -->
<img src="assets/man.png" alt="Inversión" class="fixed-man" />

</div>