<!-- Spinner -->
<div *ngIf="loading" class="text-center my-4">
  <div class="spinner-border" role="status"></div>
</div>

<!-- Error -->
<div *ngIf="uiMessage && !loading" class="alert alert-danger">
  {{ uiMessage }}
</div>

<!-- Balance -->
<div
  *ngIf="balance"
  class="card my-3 shadow-sm text-white"
  style="
    background: linear-gradient(135deg, #1c1f2c, #2e3446);
    border-radius: 15px;
  "
>
  <div class="card-body">
    <h5 class="card-title mb-0">Balance de la cuenta</h5>
    <p class="fs-4 mb-1">{{ balance.equity | currency : "USD" }}</p>
    <small>Efectivo disponible: {{ balance.cash | currency : "USD" }}</small>
  </div>
</div>

<!-- Activos disponibles -->
<!-- Tabs -->
<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
    <button
      class="nav-link"
      [class.active]="viewMode === 'mini'"
      (click)="viewMode = 'mini'"
    >
      Activos disponibles
    </button>
  </li>
  <li class="nav-item">
    <button
      class="nav-link"
      [class.active]="viewMode === 'candlestick'"
      (click)="viewMode = 'candlestick'"
    >
      Velas (Candlestick)
    </button>
  </li>
</ul>

<div class="row mt-3">
  <div class="col-md-6 col-lg-6 mb-4" *ngFor="let a of assets">
    <div class="card h-100 shadow-sm text-white"
         style="background: linear-gradient(135deg, #1c1f2c, #2e3446); border-radius: 15px;">
      <div class="card-body" style="min-height: 500px">
        <h5 class="card-title">{{ a.symbol }}</h5>
        <p class="card-text mb-2">
          {{ a.name }}<br />
          <small class="text-muted">{{ a.exchange }}</small>
        </p>
       <p class="card-text mb-1">
  Precio actual: 
  <strong *ngIf="symbolPrices[a.symbol] as price">
    {{ price | currency:'USD' }}
  </strong>
</p>

        <!-- Gráfico MINI SOLO si está en modo mini -->
<div [hidden]="viewMode !== 'mini'">
<iframe
  *ngIf="symbolChartUrls[a.symbol]"
  [src]="symbolChartUrls[a.symbol]"
  width="100%"
  height="300"
  frameborder="0"
  style="display: block; border: none;"
></iframe>
        </div>

   <!-- Gráfico de VELAS: siempre vive en el DOM, pero solo se muestra cuando viewMode === 'candlestick' -->
<div [hidden]="viewMode !== 'candlestick'">
  <app-tv-chart [symbol]="a.symbol"></app-tv-chart>
</div>
        <!-- Botón de compra (se muestra siempre) -->
        <div class="d-flex justify-content-between mt-3">
          <button
  class="btn btn-sm btn-success mt-3 w-100"
  (click)="abrirModalCompra(a.symbol)">
  🛒 Hacer orden
</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal-compra
  [symbol]="symbolSeleccionado"
  (confirmar)="onConfirmarCompra($event)">
</app-modal-compra>