<div class="container mt-4">
  <h2 style="color: white;">Seleccionar Comisionista</h2>

  <!-- Campo de búsqueda -->
  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Buscar por nombre, apellido o correo"
    />
  </div>

  <!-- Tabla de comisionistas -->
  <table class="table table-bordered table-hover">
    <thead class="table-light">
    <tr>
      <th>Seleccionar</th>
      <th>Nombre completo</th>
      <th>Correo electrónico</th>
      <th>Teléfono</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let comi of comisionistas">
    <td>
      <input
        type="radio"
        name="comisionistaSeleccionado"
        [value]="comi.id_comisionista"
        (change)="idSeleccionado = comi.id_comisionista"
      />
    </td>
      <td>{{comi.nombre}}</td>
      <td>{{comi.email}}</td>
      <td>{{comi.telefono}}</td>
    </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-danger">
          (click)="seleccionarComisionista(idSeleccionado)">
    Vender
  </button>
</div>

